.fontClass{
    font-size: 20px;
}
.fontClass2{
    font-size: 18px;
}

.grp{
    height: 181px !important;
    overflow-y: hidden !important;
}
.titleClass{
    font-size: 22px;
    font-weight: 600;
}

.subtitleClass{
    font-size: 19px;
    font-weight: 500;
}

.sec-haeding {
    padding: 0px 0px 15px 0px;
    margin: 0px;
    font-family: 'opensans-bold';
    font-size: 18px;
    color: #333333;
    font-weight: normal;
}