a.explore-more {
    border: 1px solid #dda20a;
    padding: 10px 20px;
    margin-top: 40px;
    font-size: 18px;
    color: #fff;
    display: inline-block;
    font-weight: 600;
    border-radius: 3px;
    text-decoration: none;
  }


